/.pytest_cache/
/autoReports/
.idea
.pytest_cache
**/*.pyc
NewBotAutomation/util/__pycache__/
NewBotAutomation/__pycache__/
testCases/__pycache__/
/venv/
/test.log
/autoConfig/dialogflow.json
/autoUtils/initialDialogflowBot.py
autoReports
__pycache__
/testCases/test.log
/testCases/apiTestCases/global/platform/__pycache__
/testCases/apiTestCases/global/platform/agent/__pycache__
/testCases/apiTestCases/global/platform/contactApi/__pycache__
